<div id="flow">
    <div class="block" ng-repeat="cloth in clothes1" ng-include="'partials/tea-flow-block.html'">
    </div>
    <div class="block" ng-repeat="cloth in clothes2" ng-include="'partials/tea-flow-block.html'">
    </div>
    <div class="block" ng-repeat="cloth in clothes3" ng-include="'partials/tea-flow-block.html'">
    </div>
    <div class="block" ng-repeat="cloth in clothes4" ng-include="'partials/tea-flow-block.html'">
    </div>
    <div class="block" ng-repeat="cloth in clothes5" ng-include="'partials/tea-flow-block.html'">
    </div>
    <div class="block" ng-repeat="cloth in clothes6" ng-include="'partials/tea-flow-block.html'">
    </div>
    <div class="block" ng-repeat="cloth in clothes7" ng-include="'partials/tea-flow-block.html'">
    </div>
    <div class="block" ng-repeat="cloth in clothes8" ng-include="'partials/tea-flow-block.html'">
    </div>
</div>