<div id="register">
    <img src="/static/tea/img/logo.png">
    <form ng-model="info">
        <p>用户名<a href="#/login" id="toLogin">已经注册?直接登录 <i class="icon-large icon-signin"></i></a></p>
        <input type="text" ng-blur="checkMust($event)" ng-model="info.username">
        <p>密码</p>
        <input type="password" ng-blur="checkMust($event)" ng-model="info.password">
        <p>邮箱</p>
        <input type="email" ng-blur="checkMust($event)" ng-model="info.email">
        <input type="submit" id="submit" value="注册" ng-click="register()">
    </form>
</div>