<div id="item" ng-repeat="cloth in clothes">
    <div id="exhibit">
        <div class="imgWrapper">
            <img ng-src={{cloth.fields.img_src}}>
        </div>
        <div class="text">
        	<p class="id">编号: {{cloth.pk}}</p>
            <p class="title">名字: {{cloth.fields.title}}</p>
            <p class="author">作者: {{cloth.fields.author}}</p>
            <p class="summmary">简介: {{cloth.fields.summary}}</p>
            <p class="size">尺寸: <ul><li ng-repeat="size in sizes">{{size.fields.size}}</li></ul></p>
            <p class="content">详细介绍: <br/>{{cloth.fields.content}}</p>
            <p class="progressText">众筹进度
                <span class="num">已筹集{{cloth.fields.get}}/目标{{cloth.fields.need}}</span>
            </p>
            <progress id="progressBar" value={{cloth.fields.get}} max={{cloth.fields.need}}></progress>
        </div>
    </div>
</div>